[submodule "LLaVA-NeXT"]
	path = LLaVA-NeXT
	url = ./LLaVA-NeXT
[submodule "LLaMA-VID"]
	path = LLaMA-VID
	url = ./LLaMA-VID
[submodule "LLaVA"]
	path = LLaVA
	url = ./LLaVA
[submodule "Ask-Anything"]
	path = Ask-Anything
	url = ./Ask-Anything
